<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520074065099-c97t6ikabiflank4eabcevhj4hkfdle8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520074065099-c97t6ikabiflank4eabcevhj4hkfdle8</string>
	<key>API_KEY</key>
	<string>AIzaSyAeyguTdfoLwvsk5Behc6OHxrqY5eyran4</string>
	<key>GCM_SENDER_ID</key>
	<string>520074065099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stayglobal.studentapp</string>
	<key>PROJECT_ID</key>
	<string>stayglobal-f74bf</string>
	<key>STORAGE_BUCKET</key>
	<string>stayglobal-f74bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520074065099:ios:d6979249815d522eb0174e</string>
	<key>DATABASE_URL</key>
	<string>https://stayglobal-f74bf.firebaseio.com</string>
</dict>
</plist>