<ion-content class="ion-padding">

  <ion-list class="center">

    <ion-card (click)="topic1()">
      <img src="../../assets/bridge.png">
      <ion-card-header>
        <ion-card-title>I am in Australia and I want to renew my student visa</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="topic2()">
      <img src="../../assets/koala.png">
      <ion-card-header>
        <ion-card-title>I want to know more about living in Australia.</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="topic3()">
      <img src="../../assets/visa.jpg">
      <ion-card-header>
        <ion-card-title>I am in Australia and I want to know more about the student visa</ion-card-title>
      </ion-card-header>
    </ion-card>

  </ion-list>

</ion-content>