<ion-content class="ion-padding">

  <div class="center">

    <ion-list>

      <ion-item class="ion-text-center">
        <ion-label>Choose your Quote type:</ion-label>
      </ion-item>
  
      <div class="ion-padding-top">
        <ion-button size="large" routerLink="elicos" type="button" expand="block" color="primary">ELICOS</ion-button>
      </div>
  
      <div class="ion-padding-top">
        <ion-button size="large" routerLink="vet" type="button" expand="block" color="secondary">VET</ion-button>
      </div>

    </ion-list>

  </div>

</ion-content>