<ion-content>

  <div class="ion-padding ion-text-center">

    <img src="../../assets/logo.png">

    <h3>Welcome to Stay Global</h3>

    <ion-text>
      Stay Global is dedicated to providing the best services to students from Europe, South or Central America. We
      work with every individual to facilitate their transition to Australia and support them every step of the way. We
      will provide you with high quality, personalised services as we represent the best educational institutions
      throughout Australia.
    </ion-text>

  </div>

  <img src="../../assets/pf01.jpg">

  <div class="ion-padding ion-text-center">

    <h3 class="title">Why Stay Global is the best option?</h3>

    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-chip class="chip" outline color="success">
            <div class="ion-text-center">
              <ion-icon size="large" name="school-sharp"></ion-icon>
            </div>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip class="chip" outline color="danger">
            <div class="ion-text-center">
              <ion-icon size="large" name="thumbs-up-sharp"></ion-icon>
            </div>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="myFont" color="success">Best institutions across Australia</ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="myFont" color="danger">10 years of experience</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-chip class="chip myColor" outline>
            <div class="ion-text-center">
              <ion-icon size="large" name="logo-usd"></ion-icon>
            </div>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip class="chip" outline color="warning">
            <div class="ion-text-center">
              <ion-icon size="large" name="people-sharp"></ion-icon>
            </div>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="myColor myFont">Free Service</ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="myFont" color="warning">Dynamic and young</ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <h3 class="title ion-text-center">Meet our team and stay updated!</h3>

  <img src="../../assets/live.png">

  <h3 class="title ion-text-center">Need accomodation!</h3>

  <img src="../../assets/Accomodation.png">

  <h3 class="title ion-text-center">Renew your Visa with us!</h3>

  <img src="../../assets/SUPERANNUATION.png">

  <img class="ion-padding-top" src="../../assets/contact.png">

</ion-content>