.title {
    color: var(--ion-color-primary);
}

.chip {
    height: 50px;
    padding: 25px;
    border-radius: 25px;
}

.myColor {
    color: blue;
}

.myFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.myButton {
    height: 100%;
}